force-app/main/default/flows/B2B_Order_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_orderName_variable</name>
        <label>Set orderName variable</label>
        <locationX>355</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>orderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b2bOrderObj.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_order_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_processStageList</name>
        <label>Set processStageList</label>
        <locationX>246</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>processStageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Select Items</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processStageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Set Return Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processStageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirm Choices</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>processStageList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Results</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_B2B_Order_Obj</targetReference>
        </connector>
    </assignments>
    <interviewLabel>B2B Order Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Order Return</label>
    <loops>
        <name>Process_order_objects</name>
        <label>Process order objects</label>
        <locationX>47</locationX>
        <locationY>320</locationY>
        <assignNextValueToReference>b2bOrderObj</assignNextValueToReference>
        <collectionReference>orderRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_orderName_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Item_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_B2B_Order_Obj</name>
        <label>Get B2B Order Obj</label>
        <locationX>48</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_order_objects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>orderRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderDate__c</queriedFields>
        <queriedFields>ccrz__OrderStatus__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_records</name>
        <label>Get Order Item records</label>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Return_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>orderItemRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Confirm_Choices</name>
        <label>Confirm Choices</label>
        <locationX>560</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Return</targetReference>
        </connector>
        <fields>
            <name>Header3</name>
            <extensionName>c:ckz_OrderReturn_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:new</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageIndicator3</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>processStageList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirm Choices</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Choices_Screen</name>
            <extensionName>c:ckz_OrderReturn_Confirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>newCaseDesc</name>
                <value>
                    <elementReference>newCaseDesc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newCaseSubject</name>
                <value>
                    <elementReference>newCaseSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemsString</name>
                <value>
                    <elementReference>selectedItemsString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Return</name>
        <label>Create Return</label>
        <locationX>773</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header4</name>
            <extensionName>c:ckz_OrderReturn_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Results</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageIndicator4</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>processStageList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Results</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Return_Component</name>
            <extensionName>c:ckz_OrderReturn_CreateCase</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>newCaseDesc</name>
                <value>
                    <elementReference>newCaseDesc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newCaseSubject</name>
                <value>
                    <elementReference>newCaseSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemsString</name>
                <value>
                    <elementReference>selectedItemsString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Detected</name>
        <label>Error Detected</label>
        <locationX>928</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;An error has been detected:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 16, 16);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Return_Info</name>
        <label>New Return Info</label>
        <locationX>396</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Choices</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <extensionName>c:ckz_OrderReturn_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New Return</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageIndicator2</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>processStageList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Set Return Info</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newCaseDesc</name>
            <defaultValue>
                <stringValue>Requesting a return for the items selected.</stringValue>
            </defaultValue>
            <fieldText>Please tell us why you are returning the items you selected.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Return_Screen_1</name>
        <label>Order Return Screen 1</label>
        <locationX>224</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Return_Info</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <extensionName>c:ckz_OrderReturn_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Current Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:new</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StageIndicator1</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>processStageList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Items_Component</name>
            <extensionName>c:ckz_OrderReturn_SelectItems</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderItemRecords</name>
                <value>
                    <elementReference>orderItemRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderRecords</name>
                <value>
                    <elementReference>orderRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemsString</name>
                <value>
                    <elementReference>selectedItemsString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedItemsString</assignToReference>
                <name>selectedItemsString</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_processStageList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>b2bOrderObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>newCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Return for order: {!orderName}</stringValue>
        </value>
    </variables>
    <variables>
        <name>orderItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>orderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>processStageList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedItemsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
