force-app/main/default/flows/B2B_Create_Assets_from_Order_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_newAssetObj_to_collection</name>
        <label>Add newAssetObj to collection</label>
        <locationX>839</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>assetObjCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAssetObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Order_Items_var</name>
        <label>Set Total Order Items var</label>
        <locationX>90</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>TotalOrderItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ccrzOrderItemObjs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_newAssetObj</name>
        <label>Update newAssetObj</label>
        <locationX>623</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>newAssetObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderObj.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderObj.ccrz__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.Entitlement_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderItem.ccrz__Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderItem.ccrz__Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccrzOrderItem.SKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAssetObj.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_newAssetObj_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Order_Object</name>
        <label>Check Order Object</label>
        <locationX>357</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Object_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ccrzOrderObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Obj</targetReference>
            </connector>
            <label>Order Object is empty</label>
        </rules>
    </decisions>
    <interviewLabel>B2B Create Assets from Order Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Create Assets from Order Items</label>
    <loops>
        <name>Process_Order_Items</name>
        <label>Process Order Items</label>
        <locationX>375</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>ccrzOrderItem</assignNextValueToReference>
        <collectionReference>ccrzOrderItemObjs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_newAssetObj</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Asset_objects_from_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset_objects_from_collection</name>
        <label>Create Asset objects from collection</label>
        <locationX>374</locationX>
        <locationY>470</locationY>
        <inputReference>assetObjCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>89</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Total_Order_Items_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccrzOrderObj.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>ccrzOrderItemObjs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Obj</name>
        <label>Get Order Obj</label>
        <locationX>849</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccrzOrderID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>ccrzOrderObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>ccrz__TotalAmount__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Order_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TxtTotalOrderItemsFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Number of order items found = {!TotalOrderItems}</text>
    </textTemplates>
    <variables>
        <name>assetObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetObjCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetObjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>B2B Order ID</description>
        <name>ccrzOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ccrzOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>ccrzOrderItemObjs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>ccrzOrderObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>newAssetObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>TotalOrderItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
