force-app/main/default/flows/B2B_Commerce_Service_Promotion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetObjectType</name>
        <label>GetObjectType</label>
        <locationX>168</locationX>
        <locationY>24</locationY>
        <actionName>GetObjectType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Object_Type</targetReference>
        </connector>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vObjectType</assignToReference>
            <name>objtype</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>159</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CC_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CC Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactIdFromCCOrder</targetReference>
            </connector>
            <label>CC Order</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactIDFromCase</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactIdFromContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Found</name>
        <label>Is Order Found</label>
        <locationX>288</locationX>
        <locationY>726</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_an_Order</targetReference>
            </connector>
            <label>Order Found</label>
        </rules>
        <rules>
            <name>Order_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrderId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_Orders_Found</targetReference>
            </connector>
            <label>Order Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>B2B Commerce - Service Promotion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Commerce - Service Promotion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_CC_Order_Item</name>
        <label>create CC Order Item</label>
        <locationX>565</locationX>
        <locationY>730</locationY>
        <assignRecordIdToReference>vOrderItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__OrderItemGroup__c</field>
            <value>
                <elementReference>vOrderItemGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Major</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CC_Order_Item_Group</name>
        <label>Get CC Order Item Group</label>
        <locationX>165</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOrderId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputAssignments>
            <assignToReference>vOrderItemGroup</assignToReference>
            <field>ccrz__OrderItemGroup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Last_CC_Order</name>
        <label>get Last CC Order</label>
        <locationX>165</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CC_Order_Item_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Free_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputAssignments>
            <assignToReference>vOrderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOrderName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getContactIDFromCase</name>
        <label>getContactIDFromCase</label>
        <locationX>165</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Last_CC_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContactIdFromCCOrder</name>
        <label>getContactIdFromCCOrder</label>
        <locationX>49</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Last_CC_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>ccrz__Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContactIdFromContact</name>
        <label>getContactIdFromContact</label>
        <locationX>287</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Last_CC_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOrderProductDetails</name>
        <label>getOrderProductDetails</label>
        <locationX>562</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_CC_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProductId</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>564</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>conf</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Success! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The Free Cirrus Service has been added to the order.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;View Order: &lt;/span&gt;&lt;a href=&quot;/{!vOrderId}&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Orders_Found</name>
        <label>No Orders Found</label>
        <locationX>295</locationX>
        <locationY>923</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoOrderFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unfortunately there are no orders that qualify for the Free Cirrus Service.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Promotion_Information</name>
        <label>Promotion Information</label>
        <locationX>428</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOrderProductDetails</targetReference>
        </connector>
        <fields>
            <name>SelectProd</name>
            <extensionName>c:Flow_CCOrderSelection_Promotion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderId</name>
                <value>
                    <elementReference>vOrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderName</name>
                <value>
                    <elementReference>vOrderName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ProductId</name>
                <value>
                    <elementReference>vProductId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vOrderId</assignToReference>
                <name>OrderId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vOrderName</assignToReference>
                <name>OrderName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vProductId</assignToReference>
                <name>ProductId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_an_Order</name>
        <label>Select an Order</label>
        <locationX>293</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Promotion_Information</targetReference>
        </connector>
        <fields>
            <name>getorders</name>
            <extensionName>c:Flow_CCOrderSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ContactId</name>
                <value>
                    <elementReference>vContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderId</name>
                <value>
                    <elementReference>vOrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderName</name>
                <value>
                    <elementReference>vOrderName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContactId</assignToReference>
                <name>ContactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vOrderId</assignToReference>
                <name>OrderId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vOrderName</assignToReference>
                <name>OrderName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>GetObjectType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderItemGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderNumber</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProductPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
