force-app/main/default/flows/CKZ_Update_Credit_Limit_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Credit_Limit_Upd_Eff_Acct_setting</name>
        <label>Get Credit Limit Upd Eff Acct setting</label>
        <locationX>438</locationX>
        <locationY>129</locationY>
        <actionName>ckz_CheckConfigSetting</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Effective_Account_Id_null</targetReference>
        </connector>
        <inputParameters>
            <name>configSetting</name>
            <value>
                <stringValue>ma.credlimupdeffacct</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externallySafe</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storefront</name>
            <value>
                <elementReference>InvoiceObj.ccrz__Storefront__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>credLimUpdEffAcct</assignToReference>
            <name>configValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Effective_Accounts_Enabled_Config_Setting</name>
        <label>Get Effective Accounts Enabled Config Setting</label>
        <locationX>270</locationX>
        <locationY>129</locationY>
        <actionName>ckz_CheckConfigSetting</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Credit_Limit_Upd_Eff_Acct_setting</targetReference>
        </connector>
        <inputParameters>
            <name>configSetting</name>
            <value>
                <stringValue>eff.enabled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externallySafe</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>page</name>
            <value>
                <stringValue>all</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storefront</name>
            <value>
                <elementReference>SelectedOrder.ccrz__Storefront__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>effAccountsEnabled</assignToReference>
            <name>configValue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Credit_Limit</name>
        <label>Update Credit Limit</label>
        <locationX>656</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>SelectedAccount.ckz_B2B_Credit_Limit__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvoiceObj.ccrz__PaidAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Credit_Limit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Effective_Account_Id_null</name>
        <label>Is Effective Account Id null?</label>
        <locationX>268</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Get_Account_by_Account_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup Account by Accout ID</defaultConnectorLabel>
        <rules>
            <name>Lookup_Account_by_Effective_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOrder.ccrz__EffectiveAccountID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>effAccountsEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>credLimUpdEffAcct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_by_Effective_Account_Id</targetReference>
            </connector>
            <label>Lookup Account by Effective Account Id</label>
        </rules>
    </decisions>
    <description>B2B Commerce - updates the Account credit limit when an invoice is paid.</description>
    <interviewLabel>CKZ Update Credit Limit (Invoice) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CKZ Update Credit Limit (Invoice)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_by_Account_Id</name>
        <label>Get Account by Account Id</label>
        <locationX>268</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Credit_Limit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOrder.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SelectedAccount</outputReference>
        <queriedFields>ckz_B2B_Credit_Limit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_by_Effective_Account_Id</name>
        <label>Get Account by Effective Account Id</label>
        <locationX>657</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Credit_Limit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOrder.ccrz__EffectiveAccountID__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SelectedAccount</outputReference>
        <queriedFields>ckz_B2B_Credit_Limit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>271</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Effective_Accounts_Enabled_Config_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceObj.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>SelectedOrder</outputReference>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__EffectiveAccountID__c</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Credit_Limit</name>
        <label>Update Account Credit Limit</label>
        <locationX>851</locationX>
        <locationY>385</locationY>
        <inputReference>SelectedAccount</inputReference>
    </recordUpdates>
    <startElementReference>Get_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>credLimUpdEffAcct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FALSE</stringValue>
        </value>
    </variables>
    <variables>
        <name>effAccountsEnabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FALSE</stringValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Invoice__c</objectType>
    </variables>
    <variables>
        <name>SelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
