force-app/main/default/flows/Close_Credit_Account_TEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Load_Massachusetts_Disclosure</name>
        <label>Load Massachusetts Disclosure</label>
        <locationX>779</locationX>
        <locationY>169</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>GetAllCards</targetReference>
        </connector>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://www.oeb.ca/oeb/_Documents/EB-2010-0245/Verification%20Call%20Script%20Electricity%20Revised_20101.pdf</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RetrieveLast4SSN</name>
        <label>RetrieveLast4SSN</label>
        <locationX>824</locationX>
        <locationY>455</locationY>
        <actionName>c:getOracleSSNViaAWS</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Check_Caller_Against_Records</targetReference>
        </connector>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>curContact.ExternalOracleId__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SSN_last4</assignToReference>
            <name>ssn</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SSN_Matches2</name>
        <label>SSN Matches</label>
        <locationX>1055</locationX>
        <locationY>461</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Iterate_over_Credit_Accounts</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>SSN Matches</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdateScreen</name>
        <label>UpdateScreen</label>
        <locationX>769</locationX>
        <locationY>919</locationY>
        <actionName>c:updateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Iterate_over_Credit_Accounts</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CustomCard.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Closed_Name</name>
        <label>Close Credit Account</label>
        <locationX>731</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>CustomCard.FriendlyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomCard.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>curCustomCard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWowzers</name>
        <label>AssignWowzers</label>
        <locationX>1066</locationX>
        <locationY>5</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Wowzers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Rock</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClickToProceed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisclosureStage</name>
        <label>DisclosureStage</label>
        <locationX>645</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <elementReference>Select_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>disclosure_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalStage</name>
        <label>FinalStage</label>
        <locationX>1159</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCurrentContactId</name>
        <label>GetCurrentContactId</label>
        <locationX>15</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_CurContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionStages</name>
        <label>QuestionStages</label>
        <locationX>191</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Has_Existing_Card_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectAccountStage</name>
        <label>SelectAccountStage</label>
        <locationX>1170</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Select_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Questions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalWarning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectDateStage</name>
        <label>SelectDateStage</label>
        <locationX>288</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Billing_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SSNStage</name>
        <label>SSNStage</label>
        <locationX>1078</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <elementReference>Select_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Verification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SSN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the demo&apos;er wants to bypass this step, they should just enter 1111</description>
        <name>Bypass_Check</name>
        <label>Bypass Check</label>
        <locationX>909</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>RetrieveLast4SSN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Bypass_Check_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallerProvided_SSN_Last4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1111</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSN_Matches2</targetReference>
            </connector>
            <label>Bypass Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Caller_Against_Records</name>
        <label>Check Caller Against Records</label>
        <locationX>825</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>SSN_DoesNotMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SSN_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SSN_last4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CallerProvided_SSN_Last4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSN_Matches2</targetReference>
            </connector>
            <label>SSN Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Massachusetts_disclosure_Needed</name>
        <label>Is Massachusetts disclosure Needed?</label>
        <locationX>504</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>DisclosureStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>discloseMassachusetts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <label>stateIsMassachusetts</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpenCreditAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>closed</stringValue>
            </value>
        </filters>
        <object>Custom_Debit_Card__c</object>
        <outputAssignments>
            <assignToReference>choiceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ClosedName</name>
        <dataType>String</dataType>
        <expression>&apos; CLOSED: &apos; + {!CustomCard.00N1N00000FaB4g__NotFound}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Close Credit Account TEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Credit Account</label>
    <loops>
        <name>Iterate_over_Credit_Accounts</name>
        <label>Iterate over Credit Accounts</label>
        <locationX>956</locationX>
        <locationY>639</locationY>
        <assignNextValueToReference>CustomCard</assignNextValueToReference>
        <collectionReference>selectedCreditCards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Closed_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notify_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllCards</name>
        <label>GetOpenAccounts</label>
        <locationX>917</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignWowzers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Custom_Debit_Card__c</object>
        <outputReference>allCreditCards</outputReference>
        <queriedFields>Business_Use__c</queriedFields>
        <queriedFields>Confirmation_Number__c</queriedFields>
        <queriedFields>Card_Type__c</queriedFields>
        <queriedFields>FriendlyName__c</queriedFields>
        <queriedFields>ContactID__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_CurContact</name>
        <label>Load CurContact</label>
        <locationX>43</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuestionStages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContact</outputReference>
        <queriedFields>ExternalOracleId__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>curCustomCard</name>
        <label>curCustomCard</label>
        <locationX>698</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <inputReference>CustomCard</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>1109</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>FinalStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Credit_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>ClickToProceed</name>
        <label>ClickToProceed</label>
        <locationX>938</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectAccountStage</targetReference>
        </connector>
        <fields>
            <name>WowzersStages</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScriptDisplay5</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>After reading disclosure, Click to proceed.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_SSN</name>
        <label>Collect SSN</label>
        <locationX>909</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bypass_Check</targetReference>
        </connector>
        <fields>
            <name>Screen5Stage</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallerProvided_SSN_Last4</name>
            <dataType>String</dataType>
            <fieldText>Enter last 4 digits of customer SSN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Has_Existing_Card_s</name>
        <label>Customer Has Existing Card(s)</label>
        <locationX>199</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectDateStage</targetReference>
        </connector>
        <fields>
            <name>Screen1Stages</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scriptCloseAccount</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>I&apos;ll help you close your account. I just have a few questions...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClosingActivities</name>
            <extensionName>c:dynamicQuestionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentQuestionLabel</name>
                <value>
                    <stringValue>Is the customer closing a Credit Card account serviced by Bright Global ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRadio1_label</name>
                <value>
                    <stringValue>Primary reason for closing?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRadio1_optionsInputString</name>
                <value>
                    <stringValue>&quot;Fees too high&quot;:&quot;cost&quot;,&quot;Hard to manage multiple cards&quot;:&quot;manageability&quot;,&quot;Wanted better card features&quot;:&quot;upgrade&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_label</name>
                <value>
                    <stringValue>How should the closing account be handled?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childListbox1_optionsInputString</name>
                <value>
                    <stringValue>&quot;Transfer to new account&quot;:&quot;transfer&quot;,&quot;Pay off now&quot;: &quot;payoff&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_label</name>
                <value>
                    <stringValue>Add notes about closing reasons:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToYes</name>
                <value>
                    <stringValue>r1 lb1 tf1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToNo</name>
                <value>
                    <stringValue>tf2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField2_label</name>
                <value>
                    <stringValue>Reason for incorrect classification:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField2_defaultValue</name>
                <value>
                    <stringValue>Enter reason</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MyLookup</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lookup my cool accounts:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MyAccountId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>disclosure_alert</name>
        <label>Disclosure Alert</label>
        <locationX>782</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Load_Massachusetts_Disclosure</targetReference>
        </connector>
        <fields>
            <name>Screen3Stages</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequiredDisclosure</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>A special disclosure needs to be read to the customer. Click next when ready.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GoogleMap</name>
            <extensionName>c:gmap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>GmapAddress</name>
                <value>
                    <elementReference>curContact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>GmapCity</name>
                <value>
                    <elementReference>curContact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>GmapState</name>
                <value>
                    <elementReference>curContact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>GmapPostalCode</name>
                <value>
                    <elementReference>curContact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>GmapCountry</name>
                <value>
                    <elementReference>curContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>disclosureAlertHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalWarning</name>
        <label>FinalWarning</label>
        <locationX>1076</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SSNStage</targetReference>
        </connector>
        <fields>
            <name>Screen4Stages</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script_ClosingAccount</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Ok, I&apos;m going to close your account(s) now</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Card Accounts to Close:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditCardList</name>
            <extensionName>c:Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>FriendlyName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>Card Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>Card_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_type</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_type</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>allCreditCards</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCreditCards</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Deletewarning</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click Next to close account&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1069</locationX>
        <locationY>936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen6Stage</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script_OrderProcessed</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Thank you. Your order is being processed.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>matches</name>
        <label>matches</label>
        <locationX>1117</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_over_Credit_Accounts</targetReference>
        </connector>
        <fields>
            <name>SSNMatches</name>
            <fieldText>SSN Matches</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Billing_Date</name>
        <label>Set Credit Card Closing Date</label>
        <locationX>352</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Massachusetts_disclosure_Needed</targetReference>
        </connector>
        <fields>
            <name>Screen2Stages</name>
            <extensionName>c:StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>script_closeAccount</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Would you like to schedule when your account will be closed?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>header</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;When does the customer want their existing credit card to be closed and cancelled?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>myDateTimePicker</name>
            <extensionName>c:DateTimePickerScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDateTimeStorage</assignToReference>
                <name>selectedDateTime</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSN_DoesNotMatch</name>
        <label>Caller provided SSN Doesn&apos;t Match</label>
        <locationX>522</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collect_SSN</targetReference>
        </connector>
        <fields>
            <name>InvalidSSN</name>
            <fieldText>Invalid SSN provided by caller</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Complete</name>
        <isActive>true</isActive>
        <label>Complete</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Disclosure</name>
        <isActive>false</isActive>
        <label>Disclosure</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Questions</name>
        <isActive>true</isActive>
        <label>Questions</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Rock</name>
        <isActive>false</isActive>
        <label>Rock!</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Select_Account</name>
        <isActive>true</isActive>
        <label>Select Account</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Select_Date</name>
        <isActive>true</isActive>
        <label>Select Date</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Stages</name>
        <isActive>false</isActive>
        <label>Stages</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Verification</name>
        <isActive>false</isActive>
        <label>Verification</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Wowzers</name>
        <isActive>false</isActive>
        <label>Wowzers</label>
        <stageOrder>5</stageOrder>
    </stages>
    <startElementReference>GetCurrentContactId</startElementReference>
    <status>Active</status>
    <variables>
        <name>AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allCreditCards</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Custom_Debit_Card__c</objectType>
    </variables>
    <variables>
        <name>choiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClosingAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClosingAccountNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClosingAccountPrimaryReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CustomCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Debit_Card__c</objectType>
    </variables>
    <variables>
        <name>CustomDesignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinancialSubCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>howHandleOldBalance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>makeChangePermanent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestedCustomDesign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestedCustomDesign1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCreditCards</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Custom_Debit_Card__c</objectType>
    </variables>
    <variables>
        <name>SelectedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDateTimeStorage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSN_last4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WantCustomDesign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
