force-app/main/default/flows/customer_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_17f1d916_b3da_4d8c_ba9f_5a92e04b36c4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2dadfab8_4134_4722_9f59_227c98815c9d</name>
        <choiceText>Very Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_467b2d50_fff5_4fea_a288_ec65301b61ae</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_469b05ea_d770_40f3_8e25_1a2ea0893f6e</name>
        <choiceText>Not Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7fa83dab_b4e5_47a4_b894_37f3b7f964d3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d53ea69a_9b03_44b7_ad33_93ad13b80d97</name>
        <choiceText>Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_defd5c4a_af89_48a0_9fcf_6ed3f1597cd8</name>
        <choiceText>Not Likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e05d1495_b647_407b_a592_007c7a34936a</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fd2851ee_19a4_4006_84c1_d06dc3e5fc32</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Customer Survey</interviewLabel>
    <label>Customer Survey</label>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_26a449db_9923_4dc0_919a_7db37da3bf42</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e9eb8f1f_2603_4682_bf73_9bdfaa5ce953</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_0d057305_3731_4061_9b06_46a386847e3f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_0d057305_3731_4061_9b06_46a386847e3f</name>
            <choiceReferences>c_469b05ea_d770_40f3_8e25_1a2ea0893f6e</choiceReferences>
            <choiceReferences>c_7fa83dab_b4e5_47a4_b894_37f3b7f964d3</choiceReferences>
            <choiceReferences>c_fd2851ee_19a4_4006_84c1_d06dc3e5fc32</choiceReferences>
            <choiceReferences>c_17f1d916_b3da_4d8c_ba9f_5a92e04b36c4</choiceReferences>
            <choiceReferences>c_e05d1495_b647_407b_a592_007c7a34936a</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;How would you rate your overall satisfaction with your customer service experience?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e9eb8f1f_2603_4682_bf73_9bdfaa5ce953</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f7d9e908_3d00_45a2_8e93_5c9784b06779</targetReference>
        </connector>
        <fields>
            <name>q_c28afea2_18b8_46f7_b9a5_b821fa5088ad</name>
            <choiceReferences>c_defd5c4a_af89_48a0_9fcf_6ed3f1597cd8</choiceReferences>
            <choiceReferences>c_467b2d50_fff5_4fea_a288_ec65301b61ae</choiceReferences>
            <choiceReferences>c_d53ea69a_9b03_44b7_ad33_93ad13b80d97</choiceReferences>
            <choiceReferences>c_2dadfab8_4134_4722_9f59_227c98815c9d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; font-size: 16px;&quot;&gt;How likely is it that you would recommend this company to a friend or colleague?&lt;/b&gt;&lt;b style=&quot;font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f7d9e908_3d00_45a2_8e93_5c9784b06779</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>q_b9c9177b_d0d7_4b9a_b0cf_a1aacb0335fb</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Is there anything else you would like us to know?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_26a449db_9923_4dc0_919a_7db37da3bf42</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Thank you for your feedback! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;We may contact you for additional information about your customer service experience.  &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Thank you for taking the time to fill out this quick survey.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Your feedback and comments will help us improve our products and services.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_0d057305_3731_4061_9b06_46a386847e3f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
