force-app/main/default/flows/Einstein_Bots_Update_Case_Subject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Current_Dialog</name>
        <label>Assign Current Dialog</label>
        <locationX>435</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>rvarCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastDialogName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Input</name>
        <label>Assign Customer Input</label>
        <locationX>196</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>rvarCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastCustomerInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Subject_Updated</name>
        <label>Case Subject Updated</label>
        <locationX>320</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>varCaseSubjectUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Input_or_Dialog</name>
        <label>Input or Dialog?</label>
        <locationX>302</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Customer_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastCustomerInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Input</targetReference>
            </connector>
            <label>Last Customer Input</label>
        </rules>
        <rules>
            <name>Current_Dialog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastDialogName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLastCustomerInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Dialog</targetReference>
            </connector>
            <label>Current Dialog</label>
        </rules>
    </decisions>
    <description>Updates the specified Case record with the specified new Subject text</description>
    <interviewLabel>Einstein Bots - Update Case Subject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Update Case Subject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>320</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Case_Subject_Updated</targetReference>
        </connector>
        <inputReference>rvarCase</inputReference>
    </recordUpdates>
    <startElementReference>Input_or_Dialog</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCaseSubjectUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastCustomerInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastDialogName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
