force-app/main/default/flows/Quip_Forecasting_Updates_in_Team_Doc_Forecasting_Doc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Closed Won Notice - Forecast</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_14_myRule_11_A1_1378328547</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Forecast_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>Closed Won Notice - Team Doc</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_13_myRule_11_A2_1606606032</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Team_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Push to Q1 Notice - Forecast</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_4_myRule_1_A1_6168832436</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Forecast_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Push to Q1 - Team Weekly</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_3_myRule_1_A2_1419955168</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Team_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Pull in notice - Forecast Doc</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_9_myRule_6_A1_9275326631</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Forecast_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>quipActionType</name>
            <value>
                <stringValue>addMessageToDocument</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A2</name>
        <label>Pull in notice - Team doc</label>
        <locationX>600</locationX>
        <locationY>300</locationY>
        <actionName>addMessageToQuipDocumentNotFound</actionName>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>messageContent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>messageContent</name>
            <value>
                <elementReference>formula_8_myRule_6_A2_2328483916</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>documentUrl</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>documentUrl</name>
            <value>
                <elementReference>myVariable_current.Owner.Team_Doc__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>isChangedDecision12_myRule_11_StageName</name>
        <label>isChangedDecision12_myRule_11_StageName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_12_myRule_11_StageName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_12_myRule_11_StageName</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision2_myRule_1_CloseDate</name>
        <label>isChangedDecision2_myRule_1_CloseDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision7_myRule_6_CloseDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_CloseDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision7_myRule_6_CloseDate</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_CloseDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision7_myRule_6_CloseDate</name>
        <label>isChangedDecision7_myRule_6_CloseDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision12_myRule_11_StageName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_7_myRule_6_CloseDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision12_myRule_11_StageName</targetReference>
            </connector>
            <label>isChangedRule_7_myRule_6_CloseDate</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2020-01-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Forecast_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Team_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Opportunity Pushed to Q1</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_12_myRule_11_StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Forecast_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Team_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Opportunity is Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_7_myRule_6_CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2019-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2019-10-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Forecast_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner.Team_Doc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Opportunity Pulled into Q4</label>
        </rules>
    </decisions>
    <description>Notifications in team doc and forecasting doc when Opportunities are updated or closed</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName &amp; &quot;&lt;/b&gt;&quot; &amp; &quot; just closed &lt;b&gt;&quot; &amp; [Opportunity].Name &amp; &quot;&lt;/b&gt; &lt;br/&gt;&quot; &amp; &quot;Opportunity Amount: $&lt;b&gt;&quot; &amp; TEXT( [Opportunity].Amount)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A2_1606606032</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName} &amp; &quot;&lt;/b&gt;&quot; &amp; &quot; just closed &lt;b&gt;&quot; &amp; {!myVariable_current.Name} &amp; &quot;&lt;/b&gt; &lt;br/&gt;&quot; &amp; &quot;Opportunity Amount: $&lt;b&gt;&quot; &amp; TEXT( {!myVariable_current.Amount})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName &amp; &quot;&lt;/b&gt;&quot; &amp; &quot; just closed &lt;b&gt;&quot; &amp; [Opportunity].Name &amp; &quot;&lt;/b&gt; &lt;br/&gt;&quot; &amp; &quot;Opportunity Amount: $&lt;b&gt;&quot; &amp; TEXT( [Opportunity].Amount) &amp; 
&quot;&lt;/br&gt;&lt;b&gt;Manager: &lt;/b&gt;&quot;&amp;[Opportunity].Owner.Manager.FirstName &amp;&quot; &quot;&amp;[Opportunity].Owner.Manager.LastName</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_11_A1_1378328547</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName} &amp; &quot;&lt;/b&gt;&quot; &amp; &quot; just closed &lt;b&gt;&quot; &amp; {!myVariable_current.Name} &amp; &quot;&lt;/b&gt; &lt;br/&gt;&quot; &amp; &quot;Opportunity Amount: $&lt;b&gt;&quot; &amp; TEXT( {!myVariable_current.Amount}) &amp; 
&quot;&lt;/br&gt;&lt;b&gt;Manager: &lt;/b&gt;&quot;&amp;{!myVariable_current.Owner.Manager.FirstName} &amp;&quot; &quot;&amp;{!myVariable_current.Owner.Manager.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt; PUSH Alert &lt;/b&gt; &lt;br/ &gt; Push from Q4 -&gt; Q1&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; [Opportunity].Name &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( [Opportunity].Amount) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE([Opportunity].CloseDate)) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT([Opportunity].CloseDate) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_1419955168</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt; PUSH Alert &lt;/b&gt; &lt;br/ &gt; Push from Q4 -&gt; Q1&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; {!myVariable_current.Name} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( {!myVariable_current.Amount}) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE({!myVariable_current.CloseDate})) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT({!myVariable_current.CloseDate}) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt; PUSH Alert &lt;/b&gt; &lt;br/ &gt; Push from Q4 -&gt; Q1&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; [Opportunity].Name &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( [Opportunity].Amount) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE([Opportunity].CloseDate)) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT([Opportunity].CloseDate) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName &amp;
&quot;&lt;/br&gt; &lt;b&gt;Segment: &lt;/b&gt;&quot; &amp; TEXT([Opportunity].Segment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_6168832436</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt; PUSH Alert &lt;/b&gt; &lt;br/ &gt; Push from Q4 -&gt; Q1&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; {!myVariable_current.Name} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( {!myVariable_current.Amount}) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE({!myVariable_current.CloseDate})) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT({!myVariable_current.CloseDate}) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Segment: &lt;/b&gt;&quot; &amp; TEXT({!myVariable_current.00N3m00000FQeE8__NotFound} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt; PULL Alert &lt;/b&gt; &lt;br/ &gt; Pull from Q4 -&gt; Q3&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; [Opportunity].Name &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( [Opportunity].Amount) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE([Opportunity].CloseDate)) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT([Opportunity].CloseDate) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_6_A2_2328483916</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt; PULL Alert &lt;/b&gt; &lt;br/ &gt; Pull from Q4 -&gt; Q3&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; {!myVariable_current.Name} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( {!myVariable_current.Amount}) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE({!myVariable_current.CloseDate})) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT({!myVariable_current.CloseDate}) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;&lt;b&gt; PULL Alert &lt;/b&gt; &lt;br/ &gt; Pull from Q1 -&gt; Q4&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; [Opportunity].Name &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( [Opportunity].Amount) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE([Opportunity].CloseDate)) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT([Opportunity].CloseDate) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; [Opportunity].Owner.FirstName &amp; &quot; &quot; &amp; [Opportunity].Owner.LastName &amp;
&quot;&lt;/br&gt; &lt;b&gt;Segment: &lt;/b&gt;&quot; &amp; TEXT([Opportunity].Segment__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_6_A1_9275326631</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt; PULL Alert &lt;/b&gt; &lt;br/ &gt; Pull from Q1 -&gt; Q4&quot;&amp;
&quot;&lt;br/&gt; &lt;b&gt;Opportunity: &lt;/b&gt;&quot; &amp; {!myVariable_current.Name} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Opportunity Amount: &lt;/b&gt; &quot; &amp; TEXT( {!myVariable_current.Amount}) &amp;
&quot;&lt;/br&gt; &lt;b&gt;Previous Close Date: &lt;/b&gt;&quot; &amp;TEXT(PRIORVALUE({!myVariable_current.CloseDate})) &amp;
&quot;&lt;/br&gt; &lt;b&gt;New Close Date: &lt;/b&gt;&quot; &amp;TEXT({!myVariable_current.CloseDate}) &amp;
&quot;&lt;br/&gt; &lt;b&gt;AE: &lt;/b&gt;&quot; &amp; {!myVariable_current.Owner.FirstName} &amp; &quot; &quot; &amp; {!myVariable_current.Owner.LastName} &amp;
&quot;&lt;/br&gt; &lt;b&gt;Segment: &lt;/b&gt;&quot; &amp; TEXT({!myVariable_current.00N3m00000FQeE8__NotFound} )</expression>
    </formulas>
    <interviewLabel>Quip_Forecasting_Updates_in_Team_Doc_Forecasting_Doc-1_InterviewLabel</interviewLabel>
    <label>Quip - Forecasting Updates in Team Doc &amp; Forecasting Doc</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>isChangedDecision2_myRule_1_CloseDate</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
